table { 
    border: 1px solid #FFF;
    border-collapse: separate;
    border-left: 0;
    border-radius: 10px;
    border-spacing: 0px;
    width: 100%;
    color: white;
    font-size: 12px;
    table-layout: fixed;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
}

th, td {
    padding: 10px; 
    text-align: left;
    vertical-align: top;
    border-left: 1px solid white;    
    text-align: center;
    width: 50%;
}

th {
    background-color: transparent;
    border-radius: 0 10px 0 0;
    color: white;
    font-weight: 700;
    font-size: 12px;
}

td {
    border-top: 1px solid white;    
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}


.text-justify {
    text-align: justify;
    margin-top: 30px;
    color: white;
}