.plot-canvas-container {
    background-color: red;
    width: 65%;
    height: 100%;
}

.plot-canvas-content {
    padding: 80px 130px;
    padding: 80px 130px 80px 100px; 
    background-color: white;
}